.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify--center {
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.weather-container {
    position: fixed;
    width: 100%;

    .background-image-wrapper {
        height: 100%;
        // background-image: url("../../assets/images/bg-img.avif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        .title-name {
            h2 {
                font-size: 30px;
                color: #ffffff;
                text-align: center;
                padding: 30px;
            }
        }

        .main-wrapper {
            width: 100%;
            padding-bottom: 20px;

            .search-bar {
                width: 300px;
                justify-content: space-around;
                margin: 0 auto;
                border-radius: 25px;
                border: 2px solid #ffffff;

                input {
                    padding: 12px;
                    color: #ffffff;
                    background-color: transparent;
                    font-size: 16px;
                    font-weight: 500;
                    border: none;
                    outline: none;
                }
                ::placeholder {
                    color: #ffffff;
                }

                .searchIcon {
                    color: #ffffff;
                    cursor: pointer;
                }
            }
        }

        .display--weather-wrapper {
            width: 1000px;
            height: 560px;
            margin: 0 auto;
            background-color: #302c2c73;
            border-radius: 10px;

            .time {
                font-size: 23px;
                color: #ffffff;
                text-align: right;
                padding: 20px;
            }

            .display-container {
                margin: 0 auto;

                .temp-wrapper {
                    width: 100%;
                    height: 100%;
                    color: #ffffff;

                    .display-all-wrapper {
                        width: 50%;
                        flex-direction: row;

                        .main-image {
                            width: 160px;
                            height: 160px;
                            margin-right: 20px;
                        }

                        .text-css {
                            flex-direction: column;

                            .location {
                                align-items: flex-end;
                                .city {
                                    font-size: 40px;
                                }
                                .country {
                                    margin-left: 10px;
                                    font-size: 25px;
                                }
                            }
                            .temp {
                                text-align: center;
                                flex-direction: column;
                                .temp-weather {
                                    font-size: 80px;
                                }
                            }
                            .main-weather {
                                font-size: 40px;
                            }
                        }
                    }

                    .sub-forecast-wrapper {
                        width: 100%;
                        flex-direction: column;
                        .forecast-list {
                            width: 50%;
                            height: 100%;
                            text-align: center;
                            color: #ffffff;
                            background-color: #0000005c;
                            margin: 20px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                            .sub-wrapper {
                                font-size: 25px;
                                margin-right: 10px;
                            }
                            & p {
                                font-size: 18px;
                                font-weight: 400;
                                padding: 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
