.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify--center {
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.weather-container {
    height: 100vh;
    width: 100%;
    .background-image-wrapper {
        height: 100%;
        background-image: url("../../assets/images/bg-img.avif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        .title-name {
            h2 {
                font-size: 30px;
                color: #ffffff;
                text-align: center;
                padding: 30px;
            }
        }

        .main-wrapper {
            width: 100%;
            padding-bottom: 20px;

            .search-bar {
                width: 300px;
                justify-content: space-around;
                margin: 0 auto;
                border-radius: 25px;
                border: 1px solid #ffffff;

                input {
                    padding: 12px;
                    color: #ffffff;
                    background-color: transparent;
                    font-size: 16px;
                    font-weight: 500;
                    border: none;
                    outline: none;
                }
                ::placeholder {
                    color: #ffffff;
                }

                .searchIcon {
                    color: #ffffff;
                }
            }
        }

        .display--weather-wrapper {
            width: 1000px;
            height: 540px;
            margin: 0 auto;
            background-color: #ffffff73;
            border-radius: 10px;

            .time {
                font-size: 23px;
                color: #ffffff;
                text-align: right;
                padding: 20px 20px 0 0;
            }

            .display-container {
                flex-wrap: wrap;
                max-width: 800px;
                height: 100%;
                margin: 0 auto;

                .main-image {
                    width: 160px;
                    height: 160px;
                    margin-right: 20px;
                }

                .temp-wrapper {
                    color: #ffffff;
                    .text-css {
                        flex-direction: column;

                        .city {
                            font-size: 40px;

                            .country {
                                font-size: 20px;
                            }
                        }
                        .temp {
                            text-align: center;
                            flex-direction: column;
                            .temp-weather {
                                font-size: 80px;
                            }
                        }
                        .main-weather {
                            font-size: 45px;
                        }
                    }
                }

                .display-all-wrapper {
                    width: 100%;
                    flex-direction: row;

                    .sub-wrapper {
                        width: 50%;
                        height: 200px;
                        font-size: 20px;
                        text-align: center;
                        color: #ffffff;
                        background-color: #0000005c;
                        border-radius: 10%;
                        margin: 10px 10px 40px;

                        img {
                            width: 130px;
                            height: 110px;
                            padding: 10px;
                        }

                        & p {
                            font-size: 18px;
                            font-weight: 400;
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
}

// #display-date {
//     font-size: 23px;
//     color: #ffffff;
// }
// #weather-text {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     #display-temp {
//         display: flex;
//         flex-direction: column;
//         #temp--weather {
//             font-size: 80px;
//         }
//     }
//     #weather-desc {
//         font-size: 40px;
//     }
// }
